@import '@/vars.module.scss';

.pagination {
  height: 40px;

  display: flex;
  justify-content: center;

  &__current {
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $--font-color-primary;
  }
}
