.form {
  width: 100%;
  display: flex;
  column-gap: 8px;
}

@media (max-width:768px) {
  .form {
    flex-direction: column;
    gap: 8px;

    &__input {
      width: auto;

      text-align: center;
    }
  }
}
