@import '@/vars.module.scss';

.header {
  padding: 16px;

  display: flex;

  background-color: $--card-bg;
  border: none;
  border-radius: 8px;
}

.popular, .portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;

  font-size: 14px;

  &__title {
    padding: 0;
    margin: 0;

    width: 100%;

    color: $--font-color-secondary;
  }

  &Coin {
    font-size: 14px;

    &__price {
      font-size: 16px;
    }
  }
}

.portfolio {
  &__button {
    color: $--font-color-primary;
    background-color: $--card-bg;
    border: none;
    border-radius: 8px;

    &:hover {
      background-color: $--card-bg-hover;
      cursor: pointer;
    }

  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
