$--app-bg: #15121B;
$--card-bg: rgba($color: #FFFFFF, $alpha: 0.1);
$--card-bg-hover: rgba($color: #FFFFFF, $alpha: 0.2);
$--card-bg-active: rgba($color: #FFFFFF, $alpha: 0.25);
$--modal-bg: rgba($color: #444444, $alpha: 1);
$--font-color-primary: #FFFFFF;
$--font-color-secondary: #6c6e6f;
$--font-color-positive: #77ec81;
$--font-color-negative: #f86262;
